<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jikanime: Anime search site</title>
</head>
<body>
    <div class="root">
        <app-navbar></app-navbar>
        <app-search placeholder="Search anime, manga, and more..." category="all"></app-search>
        <div class="container">
            <index-top></index-top>
            <app-search-result></app-search-result>
        </div>
    </div>
    
</body>
</html>
